.dot {
    width: .8rem;
    aspect-ratio: 1;
    background: #ff4d4d;
    border-radius: 50%;
    transform-origin: center bottom;

    transform: rotate(360deg);

}

svg {
    position: relative;
    filter: drop-shadow(0rem 0rem 1rem #9874FF);

    circle {
        transform-origin: center bottom;

        transform: rotate(-30deg);
    }
}

path {
    stroke-linecap: round;
}

.label {
    margin-top: -20px;
}

#value {
    font-size: 24px;
    font-weight: bold;
}

#status {
    font-size: 14px;
}