@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
}

.glass-filter,
.glass-overlay,
.glass-specular {
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.glass-filter {
    z-index: 1;
    backdrop-filter: blur(4px);
    filter: url(#glass-distortion) saturate(120%) brightness(1.25);
}

.glass-overlay {
    z-index: 2;
    background: #ffffff11;
}

.glass-specular {
    z-index: 3;
    box-shadow: inset 1px 1px 1px #ffffffaa;
}

body {
    font-family: 'Inter', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    /* background-image: linear-gradient(60deg, #080808, #2200ff); */
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}


.content {
    position: relative;
    width: min(79.714vw, 105rem);
    height: min(90vh, 1024px);
    border-radius: 1.2rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 10px 20px rgba(187, 155, 255, 0.5);
    display: grid;
    grid-template-areas:
        "aside weather"
        "aside highlights";
    grid-template-columns: 26rem 1fr;
    column-gap: 2rem;
    padding: 1.2rem;

    aside {
        grid-area: aside;
        background-image: url(../images/night/clear.avif);
        filter: contrast(1.1) drop-shadow(#fff 0px 14px 55px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left bottom;
        opacity: 0.8;
        border-radius: inherit;
        padding: inherit;
        border: 2px solid #ffffff22;
        box-shadow: rgba(175, 175, 181, 0.6) 0px 30px 60px -12px inset, rgba(154, 154, 154, 0.3) 0px 18px 36px -18px inset;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        article {
            display: flex;
            flex-direction: column;
            background-color: #85808055;
            border-radius: 1rem;
            backdrop-filter: blur(10px);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }

        input {
            background: linear-gradient(173deg, #23272f22 0%, #14161a22 100%);
            backdrop-filter: blur(10px);
            color: #fff;
            width: 100%;
            padding: 1rem;
            border-radius: 1.2rem;
            font-size: 1.2rem;
            transition: .3s;
            box-shadow: inset 8px 8px 8px #cbced155,
                inset -8px -8px 8px #ffffff22;

            &:hover {
                box-shadow:
                    inset 0px 0px 10px #BFC3C933,
                    inset 0px 0px 10px #101A8888,
                    0px 0px 100px #101A8888,
                    0px 0px 100px #BFC3C933;
            }

            &::placeholder {
                color: #fff;
                font-family: 'Inter', sans-serif;
                font-weight: 300;
                transition: all 0.3s ease;

            }

            &:focus::placeholder {
                color: #999;
            }
        }

        &>img {
            align-self: center;
            max-width: 14rem;
            max-height: 10rem;
            filter: drop-shadow(#000 0px 44px 55px);
        }
    }

}

.info {
    row-gap: .8rem;
    padding: 1.5rem;

    h3 {
        text-shadow: 0 4px 12px rgba(233, 223, 255, 0.8);
        font-size: 1.5rem;
        font-weight: 200;
    }

    .temperature {
        font-size: 2rem;
        font-weight: 600;
    }

    .date-time {
        font-size: 1.25rem;
        font-weight: 300;
    }
}

.forecast {
    margin-top: 1.2rem;
    padding: 1rem;
    row-gap: 1.5rem;

    h3 {
        text-shadow: 0 4px 12px rgba(233, 223, 255, 0.8);
        font-size: 1.4rem;
        font-weight: 600;
    }

    .day {
        display: grid;
        grid-template-areas:
            "icon date"
            "icon prognose";
        grid-template-columns: 6.5rem 1fr;
        column-gap: 1rem;
        align-items: center;

        img {
            max-height: 4rem;
            grid-area: icon;
            justify-self: center;
            filter: drop-shadow(#000 0px 24px 55px);
        }

        .date {
            font-size: 1.15rem;
            font-weight: 600;
            grid-area: date;
            align-self: end;
        }

        .prognose {
            font-size: 1.4rem;
            font-weight: 300;
            grid-area: prognose;

        }
    }
}

.input-block {
    position: relative;

    i {
        font-size: 1.5rem;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        z-index: 1;
    }
}

.weather {
    border: 1px solid #000;
    grid-area: weather;
}


.highlights {
    grid-area: highlights;
}

.item {
    position: relative;
    z-index: 4;
}



.feels-like {
    margin-bottom: 2em;
}

.description {
    font-size: 3rem;
    margin-bottom: 1em;
}