@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.glass-filter,
.glass-overlay,
.glass-specular {
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.glass-filter {
    z-index: 1;
    backdrop-filter: blur(4px);
    filter: url(#glass-distortion) saturate(120%) brightness(1.25);
}

.glass-overlay {
    z-index: 2;
    background: #ffffff11;
}

.glass-specular {
    z-index: 3;
    box-shadow: inset 1px 1px 1px #ffffffaa;
}

body {
    font-family: 'Inter', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    overflow: hidden;
    /* background-image: linear-gradient(60deg, #080808, #2200ff); */
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}


.content {
    position: relative;
    width: min(79.714vw, 105rem);
    height: min(100vh, 1024px);
    border-radius: 1.2rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 10px 20px rgba(187, 155, 255, 0.5);
    display: grid;
    grid-template-areas:
        "aside weather"
        "aside highlights";
    grid-template-columns: 30rem 1fr;
    column-gap: 1rem;
    padding: 1.2rem;

    aside {
        grid-area: aside;
        background-image: url(../images/night/cloudy.avif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left bottom;
        opacity: 0.8;
        filter: brightness(1.5) contrast(120%);
        border-radius: inherit;
        padding: inherit;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .weather {
        border: 1px solid #000;
        grid-area: weather;
    }


    .highlights {
        grid-area: highlights;
    }

    p {
        font-size: 1.5rem;
        text-transform: capitalize;
        text-align: center;
    }

    .item {
        position: relative;
        z-index: 4;
    }

    .temperature {
        margin-top: 0.5em;
        font-size: 5rem;
    }

    .feels-like {
        margin-bottom: 2em;
    }

    .description {
        font-size: 3rem;
        margin-bottom: 1em;
    }

}